<h1 class="mt-3 mb-3">Usuários</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nome</th>
      <th scope="col">Idade</th>
      <th scope="col">Ativo</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let usuario of usuarios">
      <th scope="row">{{ usuario.id }}</th>
      <td>{{ usuario.nome }}</td>
      <td>{{ usuario.idade }}</td>
      <td>{{ usuario.ativo }}</td>
    </tr>
  </tbody>
</table>

<a class="btn btn-primary" routerLink="/usuarios/cadastrar">Cadastrar</a>
